.btn-retroceder {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-retroceder:hover {
    background-color: rgba(68, 68, 68, 1);
    transition: 0.5s;
}

@media (max-width: 768px) {
    .btn-retroceder {
        font-size:10px;
        max-width:500px;
    }
}