.header {
    width: 100%;
    background-color: #030303;
    color: white;
    text-align: center;;
    font-size: 32px;
    position: fixed;
    padding: 10px 0;
    top: 0;
    left: 0;
    z-index: 1000;
    line-height: 75px;
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn {
    width: 100%;
  }
  .btn-primary {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  .btn-secondary {
    background-color: rgba(68, 68, 68, 0.8);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-secondary:hover {
    background-color: rgba(68, 68, 68, 1);
  }
  .error{
    margin-top: 10px;
    font-size:16px;
    text-align: center;
    color: red;
  }
  .success {
    margin-top: 10px;
    font-size:16px;
    text-align: center;
    color: green;
  }
  