.board {
    display: grid;
    position: relative;
    grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
    margin-bottom: 30px;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8,var(--tile-size));
    grid-template-rows: repeat(8,var(--tile-size));
    width: calc(8*var(--tile-size));
}
.tile{
    position: relative;
}
.tile--light {
    background-color: var(--light-tile);
}
.tile--dark {
    background-color: var(--dark-tile);
}
.highlight:after {
    display: block;
    position: absolute;
    content: '';
    width : calc(.5*var(--tile-size));
    height : calc(.5*var(--tile-size));
    background: var(--highlight);
    border-radius: 50%;
    left: 25%;
    top: 25%;
}
.attacking:after {
    display: block;
    position: absolute;
    content: '';
    border: 6px solid var(--highlight);
    width : calc(var(--tile-size) - 12px);
    height : calc(var(--tile-size) - 12px);
    border-radius: 50%;
    left: 0;
    top: 0;
}
.checked:after {
    display: block;
    position: absolute;
    content: '';
    width :  var(--tile-size);
    height :  var(--tile-size);
    background: var(--check);
    border-radius: 20px;
    left: 0;
    top: 0;
}
.panelChess{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    background-color: rgba(20, 20, 20, 0.8);
}
.content-chess{
    margin-top:1rem;
}
.chess {
    position: relative;
    width: 700px;
    margin: 1rem auto;

    
}
.error{
    margin-top: 10px;
    font-size:16px;
    text-align: center;
    color: red;
  }
  .success {
    margin-top: 10px;
    font-size:16px;
    text-align: center;
    color: green;
  }
/* Media query para ajustar el ancho en pantallas más pequeñas */
@media (max-width: 768px) {
    .chess{
        position: relative;
        width: 400px;
        margin: 1rem auto;
    }
   
}